In [1]:
import csv

file = open('guns.csv', 'r')
csv_file = csv.reader(file)
data = list(csv_file)

print(data[:5])

[['', 'year', 'month', 'intent', 'police', 'sex', 'age', 'race', 'hispanic', 'place', 'education'], ['1', '2012', '01', 'Suicide', '0', 'M', '34', 'Asian/Pacific Islander', '100', 'Home', '4'], ['2', '2012', '01', 'Suicide', '0', 'F', '21', 'White', '100', 'Street', '3'], ['3', '2012', '01', 'Suicide', '0', 'M', '60', 'White', '100', 'Other specified', '4'], ['4', '2012', '02', 'Suicide', '0', 'M', '64', 'White', '100', 'Home', '4']]

In [2]:
headers = data[:1]
data = data[1:]

print(headers)
print(data[:5])

[['', 'year', 'month', 'intent', 'police', 'sex', 'age', 'race', 'hispanic', 'place', 'education']]
[['1', '2012', '01', 'Suicide', '0', 'M', '34', 'Asian/Pacific Islander', '100', 'Home', '4'], ['2', '2012', '01', 'Suicide', '0', 'F', '21', 'White', '100', 'Street', '3'], ['3', '2012', '01', 'Suicide', '0', 'M', '60', 'White', '100', 'Other specified', '4'], ['4', '2012', '02', 'Suicide', '0', 'M', '64', 'White', '100', 'Home', '4'], ['5', '2012', '02', 'Suicide', '0', 'M', '31', 'White', '100', 'Other specified', '2']]

In [3]:
years = [row[1] for row in data]
year_counts = {}

for year in years :
    if year in year_counts:
        year_counts[year] += 1
    else :
        year_counts[year] = 1

print(year_counts)

{'2012': 33563, '2013': 33636, '2014': 33599}

In [12]:
import datetime

dates = [datetime.datetime(year=int(row[1]), month=int(row[2]), day=1) \
         for row in data]
print(dates[:5])

date_counts = {}

for date in dates :
    if date in date_counts :
        date_counts[date] += 1
    else :
        date_counts[date] = 1
        
date_counts

[datetime.datetime(2012, 1, 1, 0, 0), datetime.datetime(2012, 1, 1, 0, 0), datetime.datetime(2012, 1, 1, 0, 0), datetime.datetime(2012, 2, 1, 0, 0), datetime.datetime(2012, 2, 1, 0, 0)]

{datetime.datetime(2012, 1, 1, 0, 0): 2758,
 datetime.datetime(2012, 2, 1, 0, 0): 2357,
 datetime.datetime(2012, 3, 1, 0, 0): 2743,
 datetime.datetime(2012, 4, 1, 0, 0): 2795,
 datetime.datetime(2012, 5, 1, 0, 0): 2999,
 datetime.datetime(2012, 6, 1, 0, 0): 2826,
 datetime.datetime(2012, 7, 1, 0, 0): 3026,
 datetime.datetime(2012, 8, 1, 0, 0): 2954,
 datetime.datetime(2012, 9, 1, 0, 0): 2852,
 datetime.datetime(2012, 10, 1, 0, 0): 2733,
 datetime.datetime(2012, 11, 1, 0, 0): 2729,
 datetime.datetime(2012, 12, 1, 0, 0): 2791,
 datetime.datetime(2013, 1, 1, 0, 0): 2864,
 datetime.datetime(2013, 2, 1, 0, 0): 2375,
 datetime.datetime(2013, 3, 1, 0, 0): 2862,
 datetime.datetime(2013, 4, 1, 0, 0): 2798,
 datetime.datetime(2013, 5, 1, 0, 0): 2806,
 datetime.datetime(2013, 6, 1, 0, 0): 2920,
 datetime.datetime(2013, 7, 1, 0, 0): 3079,
 datetime.datetime(2013, 8, 1, 0, 0): 2859,
 datetime.datetime(2013, 9, 1, 0, 0): 2742,
 datetime.datetime(2013, 10, 1, 0, 0): 2808,
 datetime.datetime(2013, 11, 1, 0, 0): 2758,
 datetime.datetime(2013, 12, 1, 0, 0): 2765,
 datetime.datetime(2014, 1, 1, 0, 0): 2651,
 datetime.datetime(2014, 2, 1, 0, 0): 2361,
 datetime.datetime(2014, 3, 1, 0, 0): 2684,
 datetime.datetime(2014, 4, 1, 0, 0): 2862,
 datetime.datetime(2014, 5, 1, 0, 0): 2864,
 datetime.datetime(2014, 6, 1, 0, 0): 2931,
 datetime.datetime(2014, 7, 1, 0, 0): 2884,
 datetime.datetime(2014, 8, 1, 0, 0): 2970,
 datetime.datetime(2014, 9, 1, 0, 0): 2914,
 datetime.datetime(2014, 10, 1, 0, 0): 2865,
 datetime.datetime(2014, 11, 1, 0, 0): 2756,
 datetime.datetime(2014, 12, 1, 0, 0): 2857}

In [4]:
sex_counts = {}
race_counts = {}

for row in data :
    
    if row[5] in sex_counts :
        sex_counts[row[5]] += 1
    else :
        sex_counts[row[5]] = 1
        
    if row[7] in race_counts :
        race_counts[row[7]] += 1
    else :
        race_counts[row[7]] = 1
        
print(sex_counts)
print(race_counts)

{'M': 86349, 'F': 14449}
{'Asian/Pacific Islander': 1326, 'White': 66237, 'Native American/Native Alaskan': 917, 'Black': 23296, 'Hispanic': 9022}

In [8]:
file = open('census.csv', 'r')
csv_file = csv.reader(file)
census = list(csv_file)

census

[['Id',
  'Year',
  'Id',
  'Sex',
  'Id',
  'Hispanic Origin',
  'Id',
  'Id2',
  'Geography',
  'Total',
  'Race Alone - White',
  'Race Alone - Hispanic',
  'Race Alone - Black or African American',
  'Race Alone - American Indian and Alaska Native',
  'Race Alone - Asian',
  'Race Alone - Native Hawaiian and Other Pacific Islander',
  'Two or More Races'],
 ['cen42010',
  'April 1, 2010 Census',
  'totsex',
  'Both Sexes',
  'tothisp',
  'Total',
  '0100000US',
  '',
  'United States',
  '308745538',
  '197318956',
  '44618105',
  '40250635',
  '3739506',
  '15159516',
  '674625',
  '6984195']]

In [9]:
mapping = {}

mapping['Asian/Pacific Islander'] = int(census[1][14]) + int(census[1][15])
mapping['Black'] = int(census[1][12])
mapping['Native American/Native Alaskan'] = int(census[1][13])
mapping['Hispanic'] = int(census[1][11])
mapping['White'] = int(census[1][10])

print(mapping)

{'Asian/Pacific Islander': 15834141, 'Black': 40250635, 'Native American/Native Alaskan': 3739506, 'Hispanic': 44618105, 'White': 197318956}
{'Asian/Pacific Islander': 8.374309664161762, 'White': 33.56849303419181, 'Native American/Native Alaskan': 24.521955573811088, 'Black': 57.8773477735196, 'Hispanic': 20.220491210910907}

In [10]:
race_per_hundredk = {}

for race, count in race_counts.items() :   
    race_per_hundredk[race] = (count / mapping[race]) * 100000
    
print(race_per_hundredk)

{'Asian/Pacific Islander': 8.374309664161762, 'White': 33.56849303419181, 'Native American/Native Alaskan': 24.521955573811088, 'Black': 57.8773477735196, 'Hispanic': 20.220491210910907}

In [7]:
intents = [row[3] for row in data]
races = [row[7] for row in data]

homicide_race_counts = {}

for i, race in enumerate(races) :
    
    if intents[i] != 'Homicide' :
        continue
        
    if race in homicide_race_counts :
        homicide_race_counts[race] += 1
    else :
        homicide_race_counts[race] = 1
        
print(homicide_race_counts)

for race, count in homicide_race_counts.items() :
    homicide_race_counts[race] = (count / mapping[race]) * 100000
    
print(homicide_race_counts)

{'White': 9147, 'Asian/Pacific Islander': 559, 'Black': 19510, 'Native American/Native Alaskan': 326, 'Hispanic': 5634}
{'White': 4.6356417981453335, 'Asian/Pacific Islander': 3.530346230970155, 'Black': 48.471284987180944, 'Native American/Native Alaskan': 8.717729026240365, 'Hispanic': 12.627161104219914}

In [22]:
# The link between month and homicide rate.

import datetime

intents = [row[3] for row in data]

dates = [datetime.datetime(year=int(row[1]), month=int(row[2]), day=1) for row in data]
dates = [date.strftime('%Y/%m') for date in dates]

#print(dates[:10])

homicide_dates_counts = {}

for it, date in enumerate(dates) :
    
    if intents[it] != 'Homicide' :
        continue
        
    if date not in homicide_dates_counts :
        homicide_dates_counts[date] = 0
    homicide_dates_counts[date] += 1

homicide_dates_counts

{'2012/01': 972,
 '2012/02': 749,
 '2012/03': 966,
 '2012/04': 999,
 '2012/05': 1003,
 '2012/06': 1044,
 '2012/07': 1160,
 '2012/08': 1090,
 '2012/09': 1070,
 '2012/10': 979,
 '2012/11': 978,
 '2012/12': 1083,
 '2013/01': 986,
 '2013/02': 721,
 '2013/03': 923,
 '2013/04': 916,
 '2013/05': 955,
 '2013/06': 1066,
 '2013/07': 1137,
 '2013/08': 1000,
 '2013/09': 954,
 '2013/10': 1009,
 '2013/11': 979,
 '2013/12': 1028,
 '2014/01': 871,
 '2014/02': 708,
 '2014/03': 891,
 '2014/04': 930,
 '2014/05': 1018,
 '2014/06': 1020,
 '2014/07': 972,
 '2014/08': 1035,
 '2014/09': 942,
 '2014/10': 980,
 '2014/11': 962,
 '2014/12': 1080}

In [25]:
# Homicide rate by gender.

intents = [row[3] for row in data]
genders = [row[5] for row in data]

homicide_genders_counts = {}

for it, gender in enumerate(genders) :
    
    if intents[it] != 'Homicide' :
        continue
        
    if gender not in homicide_genders_counts :
        homicide_genders_counts[gender] = 0
    homicide_genders_counts[gender] += 1
    
homicide_genders_counts

{'F': 5373, 'M': 29803}

In [36]:
# The rates of other intents by gender and race.

races = [row[7] for row in data]
genders = [row[5] for row in data]

races_genders_counts = {}

for it, race in enumerate(races) :
    
    if genders[it] not in races_genders_counts :
        races_genders_counts[genders[it]] = {}
    
    my_dict = races_genders_counts[genders[it]]    
    if race not in my_dict :
        my_dict[race] = 0
    my_dict[race] += 1
    
    
for gender in races_genders_counts :
    for race, count in races_genders_counts[gender].items() :
        
        my_dict = races_genders_counts[gender]
        my_dict[race] = (count / mapping[race]) * 100000
    
races_genders_counts

{'F': {'Asian/Pacific Islander': 1.5409740256828584,
  'Black': 5.7589153562422055,
  'Hispanic': 2.404853366139149,
  'Native American/Native Alaskan': 3.3961705102224733,
  'White': 5.416104066555065},
 'M': {'Asian/Pacific Islander': 6.833335638478904,
  'Black': 52.1184324172774,
  'Hispanic': 17.815637844771757,
  'Native American/Native Alaskan': 21.125785063588612,
  'White': 28.152388967636746}}

In [59]:
# Gun death rates by location and education.

education_map = ['NA', 'Less than High School', 'Graduated from High School or equivalent', \
                 'Some College', 'At least graduated from College', 'Not available']

locations = [row[9] for row in data]
educations = [''] * len(data)

for it, row in enumerate(data) :
    
    try :
        index = int(row[10])
    except ValueError :
        index = 0
        
    educations[it] = education_map[index]

    
locations_educations_counts = {}

for it, location in enumerate(locations) :
    
    if educations[it] not in locations_educations_counts :
        locations_educations_counts[educations[it]] = {}
    
    my_dict = locations_educations_counts[educations[it]]    
    if location not in my_dict :
        my_dict[location] = 0
    my_dict[location] += 1

for key, val in locations_educations_counts.items() :
    print(key)
    print('-----------------------------------')
    for k, v in val.items() :
        print(k, ':', v)
        
    print('===================================')

At least graduated from College
-----------------------------------
Home : 8647
Other specified : 1943
Other unspecified : 945
Trade/service area : 521
Street : 551
Sports : 38
School/instiution : 98
Industrial/construction : 37
Residential institution : 30
NA : 67
Farm : 69
===================================
Some College
-----------------------------------
Street : 1729
Other specified : 3030
Home : 13718
Other unspecified : 1818
Trade/service area : 739
Sports : 35
Industrial/construction : 56
School/instiution : 148
NA : 249
Residential institution : 46
Farm : 112
===================================
Graduated from High School or equivalent
-----------------------------------
Other specified : 5714
Home : 25443
NA : 669
Other unspecified : 4003
Farm : 208
Street : 4977
School/instiution : 234
Trade/service area : 1447
Industrial/construction : 110
Residential institution : 84
Sports : 38
===================================
Less than High School
-----------------------------------
Home : 11814
Street : 3751
Other specified : 2859
NA : 373
Other unspecified : 1990
Trade/service area : 684
Industrial/construction : 36
School/instiution : 182
Farm : 76
Residential institution : 41
Sports : 17
===================================
Not available
-----------------------------------
Home : 828
Other specified : 201
Trade/service area : 48
Other unspecified : 104
Street : 140
Industrial/construction : 9
School/instiution : 8
NA : 26
Farm : 3
Residential institution : 2
===================================
NA
-----------------------------------
Other unspecified : 7
Home : 36
School/instiution : 1
Street : 3
Other specified : 4
Farm : 2
===================================